/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.htaccess
index.php
public/images
/public/public
public/images/banner (1).jpeg
public/images/banner (2).jpeg
public/images/banner (3).jpeg
public/images/icon.png
public/images/pic01.jpg
public/images/pic02.jpg
public/images/pic03.jpg
public/images/pic04.jpg
public/images/pic05.jpg
